.navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
 

 .inscription
 {

    width: 480px;
    margin-left: auto;
    margin-right: auto;

 }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }

h4{
	color:blue;
}  

h1{ text-shadow:   -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 10px #fff;
     color: #000;
 }  



